.furniture-img {
  width: 150px;
  height: 150px;
}

.furniture-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
}

.furniture-info {
  font-family: "Figtree";
  margin-top: 5px;
  font-size: 15px;
}

.add-furniture {

  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  background-color: var(--decp-color-font-quintenary);
  border-radius: 8px;
  border: 1px #000 solid;
  width: 100px;
  height: 30px;
}

.right-furniturecard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}


.dsc-furniture-listing-btn{
  border: 1px solid #000;
  width: 25px;
  border-radius: 4px;

}