.title-proposta {
  margin-left: 80px;
  font-family: "Figtree";
}
.month-proposta {
  font-weight: 700;
  font-family: "Figtree";
}
.proposta-text {
  font-family: "Figtree";
}
.name-proposta {
  font-family: "Figtree";
  font-weight: 700;
  font-size: 22px;
}

.background-page-two {
height: 1100px;
}

.page-two {
  height: 1100px;
  display: flex;
  background-color: black;
}


.right-lines-pg-2 {
  position: absolute;
  left: 60%;
  height: 95%;
}

.info-box-page-two {
  top: 1200px;
  left: 20px;
  width: 600px;
  position: absolute;
}

.background-page-two {
  height: 100%;
  width: 100%;
}
