.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.selected-furniture-list{
  
}
.sum_prod {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.center-title {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-filter {
  padding: 10px;
  font-size: 20px;
  height: 50px;
  margin: 20px;
  width: 400px;
}

.filter-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-clear {
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  background-color: yellow;
  height: 50px;
  width: 200px;
}

.project-itens-title{ 
  margin: 0 auto;
}


.selected-furniture-list h2 { 
  margin-top: 20px;
  margin-left: 45%;
}
.project-input-area{
  margin: 0 auto; 
  display: flex;
  align-items: center;
  flex-direction: column;
}
.project-input-area input{ 
  font-size: 16px;
  border-radius: 8px;
  margin: 10px;
  height: 50px;
  width: 400px;
  padding: 10px;
}

.project-input-area button{ 
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  margin: 10px;
  height: 50px;
  width: 400px;
  padding: 10px;
}

@media (max-width: 500px) {
  .input-filter {
    width: 250px;
    font-size: 13px;
    margin: 5px;
    height: 40px;
  }
  .btn-clear {
    width: 100px;
    font-size: 14px;
    height: 40px;
  }


}
