.selected-img {
  width: 100px;
  height: 100px;
}

.selected-furniture-card {
  display: flex;
  align-items: center;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 8px;
}

.selected-info {
  width: 250px;
  font-family: "Figtree";
  margin-top: 5px;
  font-size: 15px;
}

.remove-furniture {
  
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
  background-color: var(  --dsf-color-bg-primary );
  border-radius: 8px;
  border: 1px ed solid;
  width: 100px;
  height: 30px;
}
