.card-list {
    display: flex;
    flex-wrap: wrap ;
    padding: 10px;
    background-color: #fff;
    width: 100%;   
    height: 900px;
}

.sum_prod { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  
}