@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,700;1,300&display=swap");

.background {
  background-color: red;
}

.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}
/*PÁGINA UM*/

.page {

  background-color: #000;
  height: 860px;
  width: 100%;
}
