.project-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  border: solid 1px #000;
  border-radius: 10px;
  background-color: #fff;
  height: 150px;
  margin-bottom: 50px;
  height: 340px;
}

.values-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  
}

#enviroment-total-price {
 
}

#complex-total-price {

}

#gross-profit-value {

  
}

.info-label{
  margin: 12px;
}

.input-info { 
  margin-left: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  width: 70px;
  height: 25px;

  border: solid 1px #000;
}

.dflex{display: flex;
justify-content: space-between;}

.red-value { 
  color: #f00 
}