.nav { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px ;
    background-color: var(--dsf-color-bg-tertiary);
    color: var(--dsf-color-font-quaternary);
    font-weight: 700;
 
}

.logo {
    width: 120px;
}