.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--decp-color-bg-tertiary);
  color: var(--decp-color-font-quaternary);
}

.logo {
  width: 120px;
}

.dsc-menu-item-active {
  margin: 10px;
  font-weight: 700;
}
